<form ng-submit="submit(plant)">
  <h1>{{formMessage}}</h1>
  <input type="text" ng-model="plant.commonName" placeholder="Common Name" />
  <input type="text" ng-model="plant.scientificName" placeholder="Scientific Name" />
  <input type="text" ng-model="plant.medicinalUses" placeholder="Medicinal Uses" />
  <input type="text" ng-model="plant.nutritionalValue" placeholder="Nutritional Value" />
  <input type="number" ng-model="plant.zone" placeholder="Zone" />

  <button type="submit" ng-click="update(plant)">Update {{type}}</button>
  <button type="submit" ng-show="type === 'edit'" ng-click="delete(plant)">Delete {{type}}</button>
</form>
