<ul>
  <li><strong>{{plant.commonName}}</strong></li>
  <li><em>{{plant.scientificName}}</em></li>
  <li>Medicinal Uses: {{plant.medicinalUses}}</li>
  <li>Nutritional Value: {{plant.nutritionalValue}}</li>
  <li>Zone: {{plant.zone}}</li>

  <button ng-click="plant.editing = !plant.editing">Edit</button>

  <form ng-submit="pc.updatePlant(plant, updatedPlant)" ng-hide="!plant.editing">
    <input type="text" ng-model="updatedPlant.commonName" placeholder="{{plant.commonName}}" />
    <input type="text" ng-model="updatedPlant.scientificName" placeholder="{{plant.scientificName}}" />
    <input type="text" ng-model="updatedPlant.medicinalUses" placeholder="{{plant.medicinalUses}}" />
    <input type="text" ng-model="updatedPlant.nutritionalValue" placeholder="{{plant.nutritionalValue}}" />
    <input type="number" ng-model="updatedPlant.zone" placeholder="{{plant.zone}}" />
    <button type="submit">Update Plant</button>
    <button ng-click="pc.deletePlant(plant)" ng-hide="!plant.editing">Delete Plant</button>
  </form>

</ul>
