<!DOCTYPE html>
<html lang="en" ng-app="HealthApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plants and Supplements</title>
</head>

<body ng-controller="ResourceController as rc" ng-init="rc.init()">

  <section>
    <h1>Plants</h1>

    <div ng-repeat="plant in rc.plants" ng-show="rc.mode === 'list'">
      <list-directive resource="plant" plant="plant" type="edit" ng-click="rc.toggleItem(plant)"></list-directive>
    </div>


    <div ng-show="rc.mode === 'item'">
      <item-directive plant="plant"  ng-click="rc.toggleItem()" currentresource="rc.currentresource">
      </item-directive>
      <form-directive resource="plant" type="edit" updated="rc.updated" currentresource="rc.currentresource"></form-directive>
    </div>

    <form-directive resource="plant" type="new" updated="rc.updated"></form-directive>

  </section>

  <section>
    <h1>Supplements</h1>

    <div ng-repeat="supplement in rc.supplements" ng-show="rc.mode === 'list'">
      <list-directive resource="supplement" supplement="supplement" type="edit" ng-click="rc.toggleItem(supplement)"></list-directive>
    </div>

    <div ng-show="rc.mode === 'item'">
      <item-directive supplement="supplement" ng-click="toggleItem()" currentresource="rc.currentresource">
      </item-directive>
      <form-directive resource="supplement" type="edit" updated="rc.updated" currentresource="rc.currentresource"></form-directive>
    </div>


    <form-directive resource="supplement" type="new" updated="rc.updated"></form-directive>

  </section>
  <script src="bundle.js"></script>
  </body>

</html>
