<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plants and Supplements</title>
</head>

<body ng-app="HealthApp">
  <main>

    <section ng-controller="PlantsController as pc" ng-init="pc.getPlants()">
      <h1> Plants </h1>
      <ul ng-repeat="plant in pc.plants">
        <li><strong>{{plant.commonName}}</strong></li>
        <li><em>{{plant.scientificName}}</em></li>
        <li>Medicinal Uses: {{plant.medicinalUses}}</li>
        <li>Nutritional Value: {{plant.nutritionalValue}}</li>
        <li>Zone: {{plant.zone}}</li>

        <button ng-click="plant.editing = !plant.editing">Edit</button>

        <form ng-submit="pc.updatePlant(plant, updatedPlant)" ng-hide="!plant.editing">
          <input type="text" ng-model="updatedPlant.commonName" placeholder="{{plant.commonName}}" />
          <input type="text" ng-model="updatedPlant.scientificName" placeholder="{{plant.scientificName}}" />
          <input type="text" ng-model="updatedPlant.medicinalUses" placeholder="{{plant.medicinalUses}}" />
          <input type="text" ng-model="updatedPlant.nutritionalValue" placeholder="{{plant.nutritionalValue}}" />
          <input type="number" ng-model="updatedPlant.zone" placeholder="{{plant.zone}}" />
          <button type="submit">Update Plant</button>
          <button ng-click="pc.deletePlant(plant)" ng-hide="!plant.editing">Delete Plant</button>
        </form>

      </ul>

      <form ng-submit="pc.addPlant()">
        <input type="text" ng-model="pc.newPlant.commonName" placeholder="Common Name" />
        <input type="text" ng-model="pc.newPlant.scientificName" placeholder="Scientific Name" />
        <input type="text" ng-model="pc.newPlant.medicinalUses" placeholder="Medicinal Uses" />
        <input type="text" ng-model="pc.newPlant.nutritionalValue" placeholder="Nutritional Value" />
        <input type="number" ng-model="pc.newPlant.zone" placeholder="Zone" />

        <button type="submit">Add a Plant</button>
      </form>

    </section>

    <section ng-controller="SupplementsController as sc" ng-init="sc.getSupplements()">
        <h1> Supplements </h1>

        <ul ng-repeat="supplement in sc.supplements">
          <li><strong>{{supplement.name}}</strong></li>
          <li>Medicinal Effects: {{supplement.medicinalEffects}}</li>
          <li>Side Effects: {{supplement.sideEffects}}</li>

          <button ng-click="supplement.editing = !supplement.editing">Edit</button>

          <form ng-submit="sc.updateSupplement(supplement, updatedSupplement)" ng-hide="!supplement.editing">
            <input type="text" ng-model="updatedSupplement.name" placeholder="{{supplement.name}}" />
            <input type="text" ng-model="updatedSupplement.medicinalEffects" placeholder="{{supplement.medicinalEffects}}" />
            <input type="text" ng-model="updatedSupplement.sideEffects" placeholder="{{supplement.sideEffects}}" />
            <button type="submit">Update Supplement</button>
            <button ng-click="sc.deleteSupplement(supplement)" ng-hide="!supplement.editing">Delete Supplement</button>
          </form>

        </ul>

        <form ng-submit="sc.addSupplement()">
          <input type="text" ng-model="sc.newSupplement.name" placeholder="Name" />
          <input type="text" ng-model="sc.newSupplement.medicinalEffects" placeholder="Medicinal Effects" />
          <input type="text" ng-model="sc.newSupplement.sideEffects" placeholder="Side Effects" />

          <button type="submit">Add a Supplement</ button>
        </form>

    </section>

  </main>
  <script src="bundle.js"></script>
</body>

</html>
