<!DOCTYPE html>
<html lang="en" ng-app="HealthApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plants and Supplements</title>
</head>

<body ng-controller="ResourceController as rc" ng-init="rc.init()">

  <section>
    <h1>Plants</h1>

    <ul>
      <list-directive ng-repeat="plant in rc.plants" ng-show="mode === 'list'" resource="plant" plant="plant" type="edit" ng-click="rc.toggleItem()"></list-directive>
    </ul>


    <div ng-show="mode === 'item'">
      <item-directive resource="plant" ng-click="rc.toggleItem()">
      </item-directive>
      <form-directive resource="plant" type="edit"></form-directive>
    </div>

    <form-directive resource="plant" type="new" updated="{}"></form-directive>

  </section>

  <section>
    <h1>Supplements</h1>

    <ul>
      <list-directive ng-repeat="supplement in rc.supplements" ng-show="mode === 'list'" resource="supplement" supplement="supplement" type="edit" ng-click="rc.toggleItem()"></list-directive>
    </ul>

    <div ng-show="mode === 'item'">
      <item-directive resource="supplement" ng-click="rc.toggleItem()">
      </item-directive>
      <form-directive resource="supplement" type="edit"></form-directive>
    </div>


    <form-directive resource="supplement" type="new" updated="{}"></form-directive>

  </section>
  <script src="bundle.js"></script>
  </body>

</html>
