<form ng-submit="submit(updated)" class="resource-list">
  <h3>{{formMessage}}</h3>
  <ul>
    <li ng-repeat="property in resourceProps">
      <input type="text" ng-model="updated[property]" placeholder="{{property}}">
    </li>
  </ul>

<!-- need to route update/add depending on what's clicked -->
  <button type="submit" ng-click="update(updated)">{{type | uppercase}} {{resource | uppercase}}</button>
  <button type="submit" ng-show="type === 'edit'" ng-click="delete(currentresource)">DELETE {{resource | uppercase}}</button>
</form>
