<div ng-if="plant" >
  <ul ng-click="toggleItem()">
    <li><strong>{{resource.commonName}}</strong></li>
    <li><em>{{resource.scientificName}}</em></li>
    <li>Medicinal Uses: {{resource.medicinalUses}}</li>
    <li>Nutritional Value: {{resource.nutritionalValue}}</li>
    <li>Zone: {{resource.zone}}</li>
  </ul>
</div>

<div ng-if="supplement">
  <ul ng-click="toggleItem()">
    <li><strong>{{resource.name}}</strong></li>
    <li>Medicinal Effects: {{resource.medicinalEffects}}</li>
    <li>Side Effects: {{resource.sideEffects}}</li>
  </ul>
</div>
